fieldset.address-field{
  border:0;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.address-grid {
  width: 100%;
}

.address-row:before, .address-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.address-row:after {
  clear: both;
}

.address-coln-unit {
  float: left;
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  width: 100%;
}

.address-coln-addr {
  float: left;
  box-sizing: border-box;
  min-height: 1px;
  position: relative;
  width: 100%;
}

@media only screen and (min-width : 600px) {
  .address-coln-unit {
    width: 20%;
  }
  .address-coln-addr {
    width: 80%;
  }
}

/*.pac-logo:after {
  display: none;
}*/
